body {
    background-image: url(./bg.png);
    background-attachment: fixed;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    text-align: justify;
}

.box1 {
    background-color: white;
    width: 1200px;
    height: 1880px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    text-align: center;
    border: rgba(128, 128, 128, 0.388) thick solid;
    border-radius: 30px;
    color: brown;
}

h3,
li {
    list-style-type: none;
    text-indent: 30px;
    line-height: 30px;

}

.box {
    background-color: beige;
    width: 365px;
    height: 450px;
    margin: 10px 10px 20px 20px;
    float: left;

}

.box:hover {
    box-shadow: black 0 0 10px;
}

.img {
    display: block;
    margin: 30px auto;
    width: 300px;
    border: white 8px solid;
    border-radius: 20px;

}

h6 {
    padding-top: 960px;
    text-align: center;
}